@model IEnumerable<ContainerManagementSystem.Models.agn>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "Agents", FormMethod.Get))
{
    //the following are search options
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.agentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usr.userName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.agentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agentAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agentDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agentPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.agentEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usr.userName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.agentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.agentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.agentId })
            </td>
        </tr>
    }

</table>
