@model IEnumerable<ContainerManagementSystem.Models.bkg>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Search", "Bookings", FormMethod.Get))
{
    //the following are search options
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.agn.agentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cu.customerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shp.shipModel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.agn.agentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cu.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shp.shipModel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.bookingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.bookingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.bookingId })
            </td>
        </tr>
    }

</table>
